<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAm-dcwtGK2dCfbkkkA_eDDswmxlJLVB-0</string>
	<key>GCM_SENDER_ID</key>
	<string>23172324624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>InkaShev7777.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-19969</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-19969.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:23172324624:ios:19865c72a6b00772a85995</string>
</dict>
</plist>
